*{
	margin: 0;
	padding: 0;
}

body{
	padding: 10px;
}

#leave-cases{
	border: 1px solid grey;
	padding: 10px;
}

h4{
	background-color: grey;
	padding: 5px 10px;
}
		
/* форматирование вывода результатов расчета */
#result{}

div.for_PS{
	clear: both; 
	page-break-after: always;		
}
		
div.for_V{clear: both; 
	margin: 20px 0px;
	//page-break-after: always;
}
		
table{
	width: 100%; 
	border: 1px solid grey;
	padding: 10px;
}
	
td:first-child{
	width: 25%;
}

td, th{
	border: 1px solid grey;
	padding: 2px 5px;
}

td + td{
	text-align: center;
}		